<!DOCTYPE html>
<meta charset="utf-8">
<style>
	body {
		font-family: "Inconsolata";
	}

	#js {
		position: right;
	}

	#svg {
		position: left;
	}

	#settingc {
		visibility: hidden;
	}

	#settingext {
		visibility: hidden;
	}

	#warning{
		visibility: hidden;
	}


</style>

<div class="row">

	<svg id="svg" width="100%" height="800"></svg>
	
	<input type="number" id="inp1" name="int1">
	<input type="number" id="inp2" name="int2">
	<input type="number" id="inp3" name="int3">
	<input type="number" id="settingc" name="maxc" placeholder="total equations to generate" value="4">
	<input type="number" id="settingext" name="maxext" placeholder="nodes to generate left and right" value="4">
	<div id="warning">MAKE SURE ALL INPUTS ARE FILLED</div>
	<button type="submit" onclick="submit();">SUBMIT</button>
	
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
<script src="static/script.js"></script>
